/* http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-spacing: 0;
    text-align: center;
    place-items: center;
    margin: auto;
    padding: 10px 0px;
}

/* our styles */

@font-face {
    font-family: altone;
    src: url('/static/altone/Altone\ Trial-Regular.ttf')
}

body {
    background-color: #DADBDB;
    color: #161213; 
    font-family: altone;
    margin: 0px 30px ; /* top, side */
}

h1 {
    font-family: altone;
    font-size: 60pt;
    font-weight: bolder;
}

h2 {
    font-family: altone;
    font-size: 30pt;
    font-weight: bold;
}

h3 {
    font-family: altone;
    font-size: large;
    font-weight: bold;
}

.row {
    display: flex; 
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px;
    margin: 15px;
}

.column {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px;
    margin: 15px;
}

a {
    color: #26AB6E;
    text-decoration: none;
}

a:hover {
    color: #216b2a;
}

a:active {
    color: #26AB6E;
}