<!DOCTYPE html>
<html>
    <head>
        <title>EJAN: About Us</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="static/images/EJAN-Logo.png">       
    </head>
    <body>
        <!-- HEADER -->
        <div class="row" style="justify-content: space-between; gap: 50px; padding-top: 0%; padding-bottom: 0%; margin-bottom: 0%; margin-top: 0%;">
            <a href="/"><img src="static/images/EJAN-Logo.png" alt="EJAN Logo: Green, black, and white globe with fist and text, 'EJAN'" width="80px;"/></a>
            <a href="/about">About EJAN</a>
            <a href="/projects">Our Projects</a>
            <a href="/events">Events</a>
            <a href="/contact">Contact Us</a>
            <a href="/gallery">Gallery</a>
            <a href="/resources">Resources</a>
        </div>

        <!-- BODY: BIOS -->
        <!-- yes i know this is jank im not fixing it -->
        <div style="display: flex; flex-direction: row; justify-content: center;">
            <div class="column" style="align-items: stretch; width: 950px; color: #DADBDB;">
                <h2 style="color: #161213; text-align: center;">Meet Our Executive Board</h2>
                <!-- SONIA -->
                <div class="row" style="justify-content: start; background-color: #26AB6E;"> 
                    <img src="static/images/sonia.jpeg" height="350px">
                    <div class="column" style="align-items: flex-start;">
                        <h2>Sonia Lerner</h2>
                        <h4>co-president | she/her</h4>
                        <h3>Sonia is a sophomore studying public health and computer science.</h3>
                        <h4 style="font-style: italic;"> "Imagine gathering the most passionate, hard-working, engaged, and genuinely fun people you can think of, and then put them all in a room together. That's what EJAN is." - Sonia</h4>
                    </div>
                </div>
                
                <!-- ELIAS -->
                <div class="row" style="justify-content: end; background-color: #26AB6E;">
                    <div class="column" style="align-items: flex-end;">
                        <h2>Elias Theofilopoulos</h2>
                        <h4>co-president | he/him</h4>
                        <h3>Elias is a sophomore studying environmental studies.</h3>
                        <h4 style="font-style: italic;"> "quotey quote quote" - Elias</h4>
                    </div>
                    <img src="static/images/elias.jpg" height="350px">
                </div>

                <!-- ANDREW -->
                <div class="row" style="justify-content: start;  background-color: #26AB6E;">
                    <img src="static/images/andrew.jpeg" height="350px">
                    <div class="column" style="align-items: flex-start;">
                        <h2>Andrew Shayani</h2>
                        <h4>secretary | he/him</h4>
                        <h3>Andrew is a junior studying environmental studies.</h3>
                        <h4 style="font-style: italic;"> "quotey quote quote" - Andrew</h4>
                    </div>
                </div>

                <!-- EVIE -->
                <div class="row" style="justify-content: end; background-color: #26AB6E;">
                    <div class="column" style="align-items: flex-end;">
                        <h2>Evie Straub</h2>
                        <h4>treasurer | she/her</h4>
                        <h3>Evie is a sophomore studying civil engineering.</h3>
                        <h4 style="font-style: italic;"> "quotey quote quote" - Evie</h4>
                    </div>
                    <img src="static/images/evie.jpeg" height="350px">
                </div>

                <!-- SERENA -->
                <div class="row" style="justify-content: start; background-color: #26AB6E;">
                    <img src="static/images/serena.jpeg" height="350px">
                    <div class="column" style="align-items: flex-start;">
                        <h2>Serena Finger</h2>
                        <h4>director of community outreach | she/her</h4>
                        <h3>Serena is a senior studying environmental studies and minoring in GIS.</h3>
                        <h4 style="font-style: italic;"> "quotey quote quote" - Serena</h4>
                    </div>
                </div>

                <!-- BEN -->
                <div class="row" style="justify-content: end; background-color: #26AB6E;">
                    <div class="column" style="align-items: flex-end;">
                        <h2>Ben Jacobs</h2>
                        <h4>director of communications | he/him</h4>
                        <h3 style="text-align: right;">Ben is a senior studying environmental studies and political science and is pursuing an MA-ESP.</h3>
                        <h4 style="font-style: italic;"> "quotey quote quote" - Ben</h4>
                    </div>
                    <img src="static/images/ben.jpeg" height="350px">
                </div>

                <!-- AMELIA -->
                <div class="row" style="justify-content: start; background-color: #26AB6E;">
                    <img src="static/images/amelia.jpeg" height="350px">
                    <div class="column" style="align-items: flex-start;">
                        <h2>Amelia Ogawa</h2>
                        <h4>director of membership and recruitment | she/her</h4>
                        <h3>Amelia is a sophomore studying environmental studies and public health.</h3>
                        <h4 style="font-style: italic;"> "quotey quote quote" - Amelia</h4>
                    </div>
                </div>

            </div>
        </div>
    </body>
</html>