<!DOCTYPE html>
<html>
    <head>
        <title>EJAN: Contact Us</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="static/images/EJAN-Logo.png">
    </head>
    <body>
        <!-- HEADER -->
        <div class="header">
            <a href="/"><img src="static/images/EJAN-Logo.png" alt="EJAN Logo: Green, black, and white globe with fist and text, 'EJAN'" width="80px;"/></a>
            <a href="/about">About EJAN</a>
            <a href="/projects">Our Projects</a>
            <a href="/events">Events</a>
            <a href="/contact">Contact Us</a>
            <a href="/gallery">Gallery</a>
            <a href="/resources">Resources</a>
        </div>

        <!-- BODY -->
        <div class="content">
            <div class="row" style="background-color: #26AB6E; margin-left: 335px; margin-right: 335px;">
                <img src="static/images/20260227_103141_8FCFFB.jpeg" height="550px">
                <div class="column" style="justify-content: flex-start; align-items: flex-start;">
                    <h1>Contact Us</h1>
                    <h3 style="font-style: italic;">We can't wait to hear from you!</h3>
                    <!-- LINKS -->
                    <a target="_blank" href="mailto:gw.ejan@gmail.com" class="contact">Send Us an Email</a>
                    <a target="_blank" href="https://www.instagram.com/gw_ejan/" class="contact">Follow Us on Instagram</a>
                    <a target="_blank" href="https://linktr.ee/gw_ejan" class="contact">View Our Link Tree</a>
                    <a target="_blank" href="https://groupme.com/join_group/109463511/1Ma4GqgB" class="contact">Join Our GroupMe</a>
                    <a target="_blank" href="https://linkedin.com/company/environmental-justice-action-network" class="contact">View Our LinkedIn</a>
                    <a target="_blank" href="https://gwu.campuslabs.com/engage/organization/ejan" class="contact">Keep Up With Events on GW Engage</a>
                </div>
            </div>
        </div>
    </body>
</html>