<!DOCTYPE html>
<html>
    <head>
        <title>EJAN: Gallery</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="static/images/EJAN-Logo.png">
    </head>
    <body>
        <!-- HEADER -->
        <div class="row" style="justify-content: space-between; gap: 50px; padding-top: 0%; padding-bottom: 0%; margin-bottom: 0%; margin-top: 0%;">
            <a href="/"><img src="static/images/EJAN-Logo.png" alt="EJAN Logo: Green, black, and white globe with fist and text, 'EJAN'" width="80px;"/></a>
            <a href="/about">About EJAN</a>
            <a href="/projects">Our Projects</a>
            <a href="/events">Events</a>
            <a href="/contact">Contact Us</a>
            <a href="/gallery">Gallery</a>
            <a href="/resources">Resources</a>
        </div>

        <div class="row" style="flex-wrap: wrap; justify-content: space-between;">
            <img src="static/images/20250418-EKR-0005.jpeg" height="350px">
            <img src="static/images/20260227_103141_8FCFFB.jpeg" height="350px">
            <img src="static/images/20260123_163246_8A15FE.jpeg" height="350px">
            <img src="static/images/20260205_221754_8371DF.jpeg" height="350px">
            <img src="static/images/20260214_125852_8A2731.jpeg" height="350px">
            <img src="static/images/IMG_BC3B757C9F93-1.jpeg" height="350px">
            <img src="static/images/20260205_195226_8EF4AE.jpeg" height="350px">
            <img src="static/images/20260227_102956_841C1A.jpeg" height="350px">
            <img src="static/images/20260214_125852_8C397D.jpeg" height="350px">
            <img src="static/images/20260227_102956_87441D.jpeg" height="350px">
            <img src="static/images/20260227_102956_859C1B.jpeg" height="350px">
            <img src="static/images/20260228_124727_8C74E9.jpeg" height="350px">
            <img src="static/images/IMG_0304.jpeg" height="350px">
            <img src="static/images/20260228_134546_8C200E.jpeg" height="350px">
            <img src="static/images/20250418-EKR-0035.jpeg" height="350px">
            <img src="static/images/IMG_0742.jpg" height="350px">
            <img src="static/images/IMG_5BB0B2BED4C3-1.jpeg" height="350px">
            <img src="static/images/20260227_103141_82559D.jpeg" height="350px">
            <img src="static/images/IMG_3923.jpeg" height="350px">
            <img src="static/images/IMG_1591.jpeg" height="350px">
            <img src="static/images/IMG_5464.jpeg" height="350px">
            <img src="static/images/20260227_102956_8132B5.jpeg" height="350px">
            <img src="static/images/20260214_125852_87034F.jpeg" height="350px">
            <img src="static/images/IMG_8647.jpg" height="350px">
            <img src="static/images/IMG_8799.jpg" height="350px">
            <img src="static/images/IMG_1433.jpg" height="350px">
            <img src="static/images/IMG_D2FE8E7FF654-1.jpeg" height="350px">

        </div>
    </body>
</html>