<!DOCTYPE html>
<html>
    <head>
        <title>EJAN</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <div style="flex-direction: column; border-style: double; border-width: 1px; padding: 0px; margin: 10px; background-color: #6bce7b; width: 100%;">
            <div style="align-items: flex-end;">
                <div style="flex-direction: column;">
                    <h2>The Environmental Justice Action Network</h2>
                    <h2>Advancing Environmental Justice at George Washington University and in greater Washington, DC<h2>
                </div>
                <img src="static/images/EJAN-Logo.png" alt="EJAN Logo: Green, black, and white globe with fist and text, 'EJAN'" width="150"/>
            </div>
            <div style="background-color: #dcdddc; width: 97.8%;">
                <a href="/about">About EJAN</a>
                <a href="/projects">Our Projects</a>
                <a href="/events">Events</a>
                <a href="/contact">Contact US</a>
                <a href="/gallery">Gallery</a>
                <a href="/resources">Resources</a>
            </div>
        </div>
        <h3>EJAN is a grassroots student organization dedicated to ensuring that all D.C. communities, regardless of race, income, or geographic location, have equal access to a healthy environment and meaningful participation in the environmental decision-making processes.</h3>
        <h3>What We Do</h3>
        <p>We work at the intersection of social justice and environmental protection, focusing on communities that have been disproportionately affected by environmental hazards. Through volunteering, policy and advocacy, and research, we strive to create lasting change.</p>
        <div>
            <img src="static/images/20250418-EKR-0039.jpeg" height="250px">
            <img src="static/images/IMG_1591.jpeg" height="250px">
            <img src="static/images/IMG_5464.jpeg" height="250px">
        </div>
        <h3>Quick Links</h3>
        <a href="/projects">Latest Project Update</a>
        <p style="font-style: italic;">See our ongoing work in environmental justice.</p>
        <a href="/events">Upcoming Events</a>
        <p style="font-style: italic;">Join us at our next general body meeting, subcommittee meeting, book club, or volunteer event.</p>
        <a href="/contact">Get Involved</a>
        <p style="font-style: italic;">We'd love to hear from you.</p>

        <h3>Follow Us</h3>
        <a href="https://www.instagram.com/gw_ejan/">Instagram</a>
        <a href="https://linkedin.com/company/environmental-justice-action-network">LinkedIn</a>
        <a href="https://gwu.campuslabs.com/engage/organization/ejan">GW Engage</a>
        <a href="https://linktr.ee/gw_ejan?fbclid=PAZXh0bgNhZW0CMTEAAaeeLjcwGDWIbdivwCwZev_uY15UP8skfEsOlZYx1JQ3EpCvKrPQUulLaiDTWA_aem_bQ1eVrKodqQTY0Hbn5JQxw">Link Tree</a>
    </body>
</html>