<!DOCTYPE html>
<html>
    <head>
        <title>EJAN: Projects</title>
        <link href="/static/style.css" rel="stylesheet" type="text/css" />
        <link rel="icon" href="static/images/EJAN-Logo.png">
    </head>
    <body>
        <!-- HEADER -->
        <div class="row" style="justify-content: space-between; gap: 50px; padding-top: 0%; padding-bottom: 0%; margin-bottom: 0%; margin-top: 0%;">
            <a href="/"><img src="static/images/EJAN-Logo.png" alt="EJAN Logo: Green, black, and white globe with fist and text, 'EJAN'" width="80px;"/></a>
            <a href="/about">About EJAN</a>
            <a href="/projects">Our Projects</a>
            <a href="/events">Events</a>
            <a href="/contact">Contact Us</a>
            <a href="/gallery">Gallery</a>
            <a href="/resources">Resources</a>
        </div>

        <h3 style="text-align: center;">At EJAN, we organize our work under various subcommittees. Learn about each of them below.</h3>
        
        <!-- SUBCOMMITTEE TILES -->
        <div class="row" style="flex-wrap: wrap;">
            <div class="tile">
                <h2>Policy and Advocacy</h2>
                <a href="/about" style="color: #161213">learn more →</a>
            </div>

            <div class="tile">
                <h2>Waste Reduction</h2>
                <a href="/about" style="color: #161213">learn more →</a>
            </div>

            <div class="tile">
                <h2>Natives on Campus</h2>
                <a href="/about" style="color: #161213">learn more →</a>              
            </div>

            <div class="tile">
                <h2>Research Initiative</h2>
                <a href="/about" style="color: #161213">learn more →</a>                
            </div>

            <div class="tile">
                <h2>Book Club</h2>                
                <a href="/about" style="color: #161213">learn more →</a>
            </div>
        </div>

        <hr style="height: 4px;">

        <!-- SUBCOMMITTEE DETAILS -->
        <div class="project" style="background-color: #DADBDB;">
            <h2>Policy and Advocacy</h2>
            <p>blurb here</p>
        </div>

        <div class="project">
            <h2>Waste Reduction</h2>
            <p>blurb here</p>
        </div>

        <div class="project" style="background-color: #DADBDB;">
            <h2>Natives on Campus</h2>
            <h3>For two years now, the Environmental Justice Action Network (EJAN) has maintained a garden plot of native D.C. plants at the southern 
                tip of the GW Milken Institute School of Public Health. What began as an entry into a native garden competition has since 
                become a defining element of the network’s identity and social culture. Members enjoy the opportunity to spend time outdoors, 
                care for the garden, connect with one another, and learn about the ecological benefits of native planting in the community. 
                As the garden has flourished, so too has EJAN’s mission—expanding to advocate for native plants across all GW landscaping. 
                The group now collaborates with the Office of Sustainability to promote a stronger native plant presence throughout campus and 
                the broader D.C. area.</h3>
        </div>

        <div class="project">
            <h2>Research Initiative</h2>
            <h3>In collaboration with Ward 8 Woods, a nonprofit organization dedicated to reducing trash in Ward 8 forests by employing 
                Ward 8 residents themselves, we are surveying trees in Ward 8 to gather information on trees that are at risk of removal. 
                This project involves travelling to Ward 8 and collecting data and then adding that data to a usable GIS interface</h3>
        </div>

        <div class="project" style="background-color: #DADBDB;">
            <h2>Book Club</h2>
            <h3>Join us as we read an environmental justice-related book each semester.
        </div>
    </body>
</html>